<h2>Articles</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="articles">
    <% @articles.each do |article| %>
      <tr id="article-<%= article.id %>">
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Edit', edit_article_path(article), remote: true %></td>
        <td><%= link_to 'Destroy', article, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path, remote: true, class: "btn" %>
<div id="article-modal" class="modal fade"></div>
