<section class="intro">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <h1>Log In with Your Account</h1>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</section> <!-- /intro -->

<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control", autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          </div>

          <div class="row">
            <div class="col-md-5 remember">
              <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              <% end -%>
            </div>
            <div class="col-md-7 text-right">
              <%= render "devise/shared/links" %>
            </div>
          </div> <!-- /row -->

          <div class="actions">
            <%= f.submit "Log In", class: "btn btn-default" %>
          </div>
        <% end %>
      </div> <!-- /row -->
    </div> <!-- /container -->
  </section>
